$primary: #000000;
$primary-variant: #000000;
$secondary: #FFFFFF;
$secondary-variant: #FFFFFF;
$background: #FFFFFF;
$surface: #FFFFFF;
$error: #FFFFFF;
$on-primary: #FFFFFF;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #FFFFFF;
